<!DOCTYPE html>
<html lang="pt_br">
<head>
	<meta charset="utf-8">	

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Administrador DICOL</title>

	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="css/local.css" />

	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
	
	<section class="container text-center">
	<center>
		<div style="max-width: 550px;">
			<form role="form" action="/entrar" method="post">
				<div class="panel panel-default">
					<div class="panel-heading">www.dicol.com.br</div>
					<div class="panel-body">
						<input class="form-control" type="text" name="usuario[nome]" placeholder="Login">
						<br/>
						<input class="form-control" type="password" name="usuario[senha]" placeholder="Sua senha">
						<br/>
					</div>
					<div class="panel-footer">
						<button class="btn btn-success" type="submit">Entrar</button>	
					</div>
				</div>
			</form>
        </div>
	</center>
	</section>
	
</body>
</html>