 <!-- Bannber -->
   <div class="row-fluid">
    <div class="span12">
      <section class="pic-cat">
        <img width="1900" height="200" style="display:none;" class="fachada" alt="" src="/img/fachada.jpg">
      </section>
    </div>
  </div>
  <!-- End Bannber -->
  
  <div class="properties">

        <div class="container">

          <div class="grid_full_width">

			<!-- About US -->

            <div class="about_us">

              
              <div class="welcome">
                <div class="row">
                  <div class="span6">
                    <div class="picct">
                      <img src="img/files/430x230.gif" alt="">
                    </div>
                  </div>
                  <div class="span6">
                      <div class="textct">
                        <h4>Seja bem vindo a Dicol!</h4>
                        <p>
                         Descrição aqui
                        </p>
                      </div>
                  </div>
                </div>
              </div>

              <!-- <div class="listsv">
                <h4>What We Do Provide</h4>
                <div class="row">
                  <div class="span3">
                    <h6><i class="icon-laptop" aria-hidden="true"></i><span>Fully Responsive</span></h6>
                    <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
                    <a href="#" tilte="">Read more</a>
                  </div>
                  <div class="span3">
                    <h6><i class="icon-twitter-3" aria-hidden="true"></i><span>Bootstrap Based </span></h6>
                    <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
                    <a href="#" tilte="">Read more</a>
                  </div>
                  <div class="span3">
                    <h6><i class="icon-eyedropper" aria-hidden="true"></i><span>Color variations</span></h6>
                    <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
                    <a href="#" tilte="">Read more</a>
                  </div>
                  <div class="span3">
                    <h6><i class="icon-file-pdf" aria-hidden="true"></i><span>Psd files included </span></h6>
                    <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
                    <a href="#" tilte="">Read more</a>
                  </div>
                </div>
                -->
              </div>
              <div class="choseus">
                <div class="row">
                  <div class="span6">
                     <h4>Por que escolher a gente?</h4>
                       <div class="showhideabout">

                <ul>
             
                  <li>
                    <span class="btshowhide" id="fag2" rel="2">Suporte excelente na venda do seu imóvel </span>
                    <div class="abouttext class2" style="display: none;">
                      
                    </div>
                  </li>
                  
                  <li>
                    <span class="btshowhide" id="fag3" rel="3">Suporte excelente no aluguel do seu imóvel </span>
                    <div class="abouttext class3" style="display: none;">
                     
                    </div>
                  </li>
                  
                  <li>
                    <span class="btshowhide" id="fag1" rel="1">Apoio e ótimos valores</span>
                    <div class="abouttext class1" style="display: none;">
                       
                    </div>
                  </li>
                </ul>
              </div>
                  </div>
                 <!-- <div class="span6">
                     <h4>Testimonials</h4>
                     <div class="agentpost">
                       <div class="imgag"><img src="img/imgdemo/agab.jpg" alt=""><span class="name">Jonh Doe,</span> <span>Senior Vice President</span></div>
                       <div class="postttmn">
                         <p>
                          “ Sed non neque elit. Lid est laborum dolo rumes fugats untras. 
                          Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets..  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                          </p>
                       </div>

                     </div>
                -->
                  </div>
                </div>
              </div>
             <!-- <div class="moteam">
                 <h4>Nossa equipe</h4>
                 <div class="row">
                   <ul>
                   <li class="span6 first">
                     <div class="row">
                       <div class="span180">
                          <div class="picimg"><img width="160" height="160" src="img/imgdemo/160x160.gif" alt=""></div>
                       </div>
                       <div class="span260px">
                         <h6>Durlei Vasques de Sousa</h6>
                         <span>Presidente</span>
                         <p>Descrição..</p>
                         <div class="socialmo">
                          <a href="#" title=""><i class="icon-facebook-2" aria-hidden="true"></i></a>
                          <a href="#" title=""> <i class="icon-twitter-3" aria-hidden="true"></i></a>
                          <a href="#" title=""><i class="icon-google-plus-2" aria-hidden="true"></i></a>
                          <a href="#" title=""> <i class="icon-envelope-2" aria-hidden="true"></i></a>
                          <a href="#" title=""><i class="icon-feed" aria-hidden="true"></i></a>
                          
                         </div>
                       </div>
                     </div>
                   </li>
                   <li class="span6">
                     <div class="row">
                       <div class="span180">
                          <div class="picimg"><img width="160" height="160" src="img/imgdemo/160x160.gif" alt=""></div>
                       </div>
                       <div class="span260px">
                         <h6>Hermano Marchiò</h6>
                         <span>Diretor</span>
                         <p>Descrição.. </p>
                         <div class="socialmo">
                          <a href="#" title=""><i class="icon-facebook-2" aria-hidden="true"></i></a>
                          <a href="#" title=""> <i class="icon-twitter-3" aria-hidden="true"></i></a>
                          <a href="#" title=""><i class="icon-google-plus-2" aria-hidden="true"></i></a>
                          <a href="#" title=""> <i class="icon-envelope-2" aria-hidden="true"></i></a>
                          <a href="#" title=""><i class="icon-feed" aria-hidden="true"></i></a>
                          
                         </div>
                       </div>
                     </div>
                   </li>
                   <li class="span6 first">
                     <div class="row">
                       <div class="span180">
                          <div class="picimg"><img width="160" height="160" src="img/imgdemo/160x160.gif" alt=""></div>
                       </div>
                       <div class="span260px">
                         <h6>Nome</h6>
                         <span>Cargo</span>
                         <p>Descrição </p>
                         <div class="socialmo">
                          <a href="#" title=""><i class="icon-facebook-2" aria-hidden="true"></i></a>
                          <a href="#" title=""> <i class="icon-twitter-3" aria-hidden="true"></i></a>
                          <a href="#" title=""><i class="icon-google-plus-2" aria-hidden="true"></i></a>
                          <a href="#" title=""> <i class="icon-envelope-2" aria-hidden="true"></i></a>
                          <a href="#" title=""><i class="icon-feed" aria-hidden="true"></i></a>
                          
                         </div>
                       </div>
                     </div>
                   </li>
                   <li class="span6">
                     <div class="row">
                       <div class="span180">
                          <div class="picimg"><img width="160" height="160" src="img/imgdemo/160x160.gif" alt=""></div>
                       </div>
                       <div class="span260px">
                         <h6>Nome</h6>
                         <span>Cargo</span>
                         <p>Descrição</p>
                         <div class="socialmo">
                          <a href="#" title=""><i class="icon-facebook-2" aria-hidden="true"></i></a>
                          <a href="#" title=""> <i class="icon-twitter-3" aria-hidden="true"></i></a>
                          <a href="#" title=""><i class="icon-google-plus-2" aria-hidden="true"></i></a>
                          <a href="#" title=""> <i class="icon-envelope-2" aria-hidden="true"></i></a>
                          <a href="#" title=""><i class="icon-feed" aria-hidden="true"></i></a>
                          
                         </div>
                       </div>
                     </div>
                   </li>

                 </ul>
                 </div>
              </div>-->

            </div>

			<!-- End About US -->

			

          </div>

        </div>

      </div>
      