 <script type="text/javascript" src="/js/libs/contact.js"></script>
 
 <!-- Bannber -->
   <div class="row-fluid">
    <div class="span12">
      <section class="pic-cat">
        <img width="1900" style="display:none;" height="200" class="fachada" alt="" src="/img/fachada.jpg">
      </section>
    </div>
  </div>
  <!-- End Bannber -->
</header>
<!-- END HEADER -->

<!--BEGIN CONTENT -->
<div class="main-content">
  <div class="properties">
    <div class="container">
      <div class="grid_full_width gird_sidebar">
        <div class="row">
         <!-- Main content -->
         <div class="span8">
          <!-- Contact -->
          <div class="contact">
            <h1>ENTRE EM CONTATO CONOSCO</h1>
            <div class="contact-bor">
              <div class="infotext">
                 
              </div>
              <div class="map">
                <iframe width="580" height="285" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m21!1m8!1m3!1d1901.8872254957355!2d-52.56332557720289!3d-17.565922023594048!3m2!1i1024!2i768!4f13.1!4m10!1i0!3e6!4m3!3m2!1d-17.5660755!2d-52.562644299999995!4m3!3m2!1d-17.5661061!2d-52.562714!5e0!3m2!1spt-BR!2sbr!4v1404872311076" style="color:#0000FF;text-align:left"></iframe>
              </div>
              <div class="add-contact">
                <div class="row">
                  <div class="span280px">
                    <h6>Endereço</h6>
                    <p>Av. Antônio Carlos Paniago, Nº1024,<br> Setor Cambaúva. <br>CEP:75830-000.<br>Mineiros - Goiás</p>
                  </div>
                  <div class="span280px pull-right">
                    <strong>Fone.</strong><i class="glyphicon glyphicon-earphone"></i> +55 64 3661-5097<br/> <i style="padding-left:14%;" class="glyphicon glyphicon-phone"></i>  +55 64 99897747 <br/>
                    <strong>Fax.</strong><br/>
                    <strong>Email.</strong> grupodicol@dicol.com.br <br/>
                  </div>
                </div>
              </div>
            </div>
            <div id="mensagemContainerContatos"></div>
            <div class="contact-form">
              <form id="contact-form">
                <div class="row">
                  <div class="span280px">
                    <label>Seu nome*</label>
                    <input type="text" name="nomeContato" min-length="2" placeholder="Informe seu nome" required>
                    <label>Assunto  </label>
                    <input type="text" name="assuntoContato" placeholder="Assunto">
                  </div>
                  <div class="span280px pull-right">
                    <label>Seu email*</label>
                    <input type="email" name="emailContato" placeholder="Informe seu email" required>
                    <label>Website</label>
                    <input type="text" name="websiteContato" placeholder="Informe seu site">
                  </div>
                </div>
                <label>Sua mensagem*</label>
                <textarea rows="10" name="mensagemContato" placeholder="Mensagam" required></textarea>
                <button class="button-send" type="submit">Enviar</button>
              </form>
            </div>
          </div>
          <!-- End contact -->
        </div>
        <!-- End Main content -->
        
        <!-- Sidebar left  -->
        <div class="span4">
         <!-- Box Siderbar -->
         <div class="box-siderbar-container">
          <!-- sidebar-box our-box -->
          <div class="sidebar-box our-box">
            <h3>Anuncie aqui</h3>
            <ul>
              <li>
                <div class="our-border clearfix">
                  <div class="our-img"><img alt="" height="90" width="90" src="img/files/90x90.gif"></div>
                  <div class="our-info">
                    <h4>Presidente</h4>
                    <h5>Durlei Vasques de Sousa</h5>
                    <span>Fone.</span> (64)96461940<br/>
                    <span>Email.</span>durlei@dicol.com.br
                  </div>
                </div>
              </li>
              <li>
                <div class="our-border clearfix">
                  <div class="our-img"><img alt="" height="90" width="90" src="img/files/90x90.gif"></div>
                  <div class="our-info">
                    <h4>Diretor</h4>
                    <h5>Hermano Marchiò</h5>
                    <span>Fone.</span> (64)96460224<br/>
                    <span>Email.</span> hermano@dicol.com.br
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- End sidebar-box our-box -->
          
          <!-- sidebar-box tabsidebar
          <div class="sidebar-box tabsidebar">
            <div class="tabber">
              <div class="tabbertab">
                <h2>Últimos</h2>
                <ul class="product_list_wg">
                  <li>
                    <div class="clearfix">
                      <a title="" href="#">
                        <img width="90" height="54" alt="" class="thumbnail_pic" src="img/imgdemo/90x54.gif">
                        1076 Imóvel
                      </a> 
                      <div class="amount">R$1,550</div>
                    </div>
                  </li>
                  <li>
                    <div class="clearfix">
                      <a title="" href="#">
                        <img width="90" height="54" alt="" class="thumbnail_pic" src="img/imgdemo/90x54.gif">
                        1076 Imóvel
                      </a> 
                      <div class="amount">R$1,550</div>
                    </div>
                  </li>
                  <li>
                    <div class="clearfix">
                      <a title="" href="#">
                        <img width="90" height="54" alt="" class="thumbnail_pic" src="img/imgdemo/90x54.gif">
                        1076 Imóvel
                      </a> 
                      <div class="amount">R$1,550</div>
                    </div>
                  </li>
                  <li>
                    <div class="clearfix">
                      <a title="" href="#">
                        <img width="90" height="54" alt="" class="thumbnail_pic" src="img/imgdemo/90x54.gif">
                        1076 Imóvel
                      </a> 
                      <div class="amount">R$1,550</div>
                    </div>
                  </li>
                  <li>
                    <div class="clearfix">
                      <a title="" href="#">
                        <img width="90" height="54" alt="" class="thumbnail_pic" src="img/imgdemo/90x54.gif">
                        1076 Imóvel
                      </a> 
                      <div class="amount">R$1,550</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
           End sidebar-box tabsidebar -->
        </div>
        <!-- End Box Siderbar -->
      </div>
      <!-- End Sidebar left  -->
    </div>
  </div>
</div>
</div>
</div>
<!-- END CONTENT -->